**/.dart_tool
**/.flutter-plugins-dependencies
**/build
**/dist
**/.idea
**/.vscode
**/.git
**/.github
**/node_modules
**/*.swp
**/*.swo
**/*~
**/.DS_Store
**/.env
**/.env.local
**/.metadata
**/pubspec.lock
**/*.iml
**/test
